language: rust
rust: 1.34.0

matrix:
  allow_failures:
  - os: windows
  include:
  - os: linux
  - os: osx
    osx_image: xcode10.0 # OS X 10.13 High Sierra
  - os: osx
    osx_image: xcode9.0 # OS X 10.12 Sierra
  - os: osx
    osx_image: xcode8.0 # OS X 10.11 El Capitan
  - os: osx
    osx_image: xcode6.4 # OS X 10.10 Yosemite
  - os: windows

env:
  global:
  - ALOXIDE_RUBY_VERSION: 2.6.0
  - ALOXIDE_USE_RVM: 1
  - ALOXIDE_RUBY_CACHE: "$HOME/.cache"
  - ALOXIDE_TEST_DIR: "$HOME/.aloxide"
  - CARGO_TARGET_DIR: "$PWD/target"
  - RUSTFLAGS: "-Dwarnings"

cache:
  directories:
  - $HOME/.cargo
  - $ALOXIDE_RUBY_CACHE

before_install:
- ./scripts/install_ruby.sh
before_script:
- cargo -Vv
- rustc -Vv
- ruby --version
script:
- cargo test --lib -p aloxide
- cargo test -vv -p aloxide-link-test
